<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.co.ppa_github_favorite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="id.co.ppa_github.READ_DATABASE" />
    <uses-permission android:name="id.co.ppa_github.WRITE_DATABASE" />

    <queries>
        <package android:name="id.co.ppa_github" />
    </queries>

    <application
        android:name=".PPAGithubFavorite"
        android:icon="@mipmap/ic_gitpfav"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_gitpfav_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ppagithub"
        tools:ignore="AllowBackup">
        <receiver android:name=".widget.GitPWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/git_p_widget_info" />
        </receiver>

        <activity android:name="id.co.ppa_github.ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity" />

        <service
            android:name="id.co.ppa_github_favorite.widget.GitPWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>